{% extends 'BOBackOfficeBundle::layout.html.twig' %}

{% block body -%}
    {% autoescape false %}
        <div class="dash-content-title title-blue-dark">
            <div id="navigation">
                <a href="{{ path('bo_back_office_homepage') }}">Home</a> > <a href="{{ path('quote') }}">Quotes</a> > <a href="{{ path('quote_new') }}">Create</a>
            </div>
        </div>
        <div class="dash-content-body">
            <h1 class="title">Quote creation<span class="line line-blue-dark"></span></h1>
            <div class="unit unit-grey">
                <form action="{{ path('quote_create') }}" method="post" class="f400" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <div class="controls">
                        <button type="submit" class="btn-flat btn-flat-blue-dark">Create</button>
                    </div>
                </form>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
