{% extends 'BOBackOfficeBundle::layout.html.twig' %}

{% block body -%}
    {% autoescape false %}
        <div class="dash-content-title title-blue-dark">
            <div id="navigation">
                <a href="{{ path('quote') }}">Quotes</a>
            </div>
        </div>
        <div class="dash-content-body">
            <h1 class="title">Quote list<span class="line line-blue-dark"></span></h1>
            <div class="clear-fix">
                <form id="searchForm" class="pull-right clear-fix" action="{{ path('quote_search') }}" method="post" {{ form_enctype(search) }}>
                    <div class="controls">
                        {{ form_widget(search.customer) }}
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn-flat btn-flat-white h36"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="unit unit-white">
                {% if quotes is not empty %}
                    <div class="pag-objects">
                        <div class="objects-list">
                            {% for quote in quotes %}
                                <div class="unit-table">
                                    <div class="unit-row">
                                        <div class="unit-cell cell-img">
                                            <a href="{{ path('quote_show', { 'id': quote.id }) }}"><img src="{{ asset('bundles/bobackoffice/images/avatar.png') }}" alt="avatar"></a>
                                        </div>
                                        <div class="unit-cell cell-content">
                                            <h2><a href="{{ path('quote_show', { 'id': quote.id }) }}">{{ quote.customer }}</a></h2>
                                            Quote number : {{ quote.quoteNumber }}
                                        </div>
                                        <div class="unit-cell cell-action">
                                            <a href="{{ path('quote_show', { 'id': quote.id }) }}"><button class="btn-flat btn-flat-white">Show</button></a>
                                            <a href="{{ path('quote_edit', { 'id': quote.id }) }}"><button class="btn-flat btn-flat-white">Edit</button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="page_navigation"></div>
                    </div>
                {% else %}
                    Désolé, votre recherche n'a rien donné ! Veuillez renseigner une valeur correcte.
                {% endif %}
            </div>
            <a href="{{ path('quote_new') }}"><button class="btn-flat btn-flat-blue-dark">New</button></a>
        </div>
    {% endautoescape %}
{% endblock %}