{% extends 'BOBackOfficeBundle::layout.html.twig' %}

{% block body -%}
    {% autoescape false %}
        <div class="dash-content-title title-violet">
            <div id="navigation">
                <a href="{{ path('bill') }}">Bills</a>
            </div>
        </div>
        <div class="dash-content-body">
            <h1 class="title">Bill list<span class="line line-violet"></span></h1>
            <div class="clear-fix">
                <form id="searchForm" class="pull-right clear-fix" action="{{ path('bill_search') }}" method="post" {{ form_enctype(search) }}>
                    <div class="controls">
                        {{ form_widget(search.customer) }}
                        <!-- <input id="bo_backofficebundle_billtypesearch_customer" type="text" name="bo_backofficebundle_billtypesearch[customer]"> -->
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn-flat btn-flat-white h36"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="unit unit-white">
                <div class="pag-objects">
                    <div class="objects-list">
                        {% for entity in entities %}
                            <div class="unit-table">
                                <div class="unit-row">
                                    <div class="unit-cell cell-img">
                                        <a href="{{ path('bill_show', { 'id': entity.id }) }}"><img src="{{ asset('bundles/bobackoffice/images/avatar.png') }}" alt="avatar"></a>
                                    </div>
                                    <div class="unit-cell cell-content">
                                        <h2><a href="{{ path('bill_show', { 'id': entity.id }) }}">{{ entity.customer }}</a></h2>
                                        Facture {{ entity.billNumber }} | Created at : {{ entity.createdDate|date('Y-m-d H:i:s') }}
                                    </div>
                                    <div class="unit-cell cell-action">
                                        <a href="{{ path('bill_show', { 'id': entity.id }) }}"><button class="btn-flat btn-flat-white">Show</button></a>
                                        <a href="{{ path('bill_edit', { 'id': entity.id }) }}"><button class="btn-flat btn-flat-white">Edit</button></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="page_navigation"></div>
                </div>
            </div>
            <a href="{{ path('bill_new') }}"><button class="btn-flat btn-flat-violet">New</button></a>
        </div>
    {% endautoescape %}
{% endblock %}
