<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Backoffice{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bobackoffice/css/style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/bobackoffice/css/font-awesome.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/bobackoffice/css/font-awesome-ie7.min.css') }}" type="text/css" />
        {% endblock %}
        
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/bobackoffice/js/jquery.pajinate.min.js') }}"></script>
            <script src="{{ asset('bundles/bobackoffice/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="icon-sidemenu">
                <i class="icon-reorder icon-large icon-white mr10"></i>
            </div>
            <nav class="main">
                <ul class="clear-fix">
                    <li>
                        <a href="#" title="Index">Index</a>
                    </li>
                    <li>
                        <a href="#" title="Contact">Contact</a>
                    </li>
                    <li>
                        <a href="#" title="Admin">Admin</a>
                    </li>
                </ul>
            </nav>
            <nav class="sub">
                <ul class="clear-fix">
                    <li>
                        <a href="/me" title="">View profile</a>
                    </li>
                    <li class="sep"></li>
                    <li>
                        <a href="/pwd" title="">Change password</a>
                    </li>
                    <li class="sep"></li>
                    <li>
                        <a href="{{ path('BOSecurityBundle_logout') }}" title="">Logout</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div id="wrap">
            <ul id="dash-sidemenu">
                <a href="{{ path('bo_back_office_homepage') }}"><li class="m1"><i class="icon-home icon-large mr10"></i>Home</li></a>
                <hr>
                <a href="{{ path('customer') }}"><li class="m2"><i class="icon-user icon-large mr10"></i>Customers</li></a>
                <hr>
                <li class="m3"><i class="icon-user icon-large mr10"></i>Schedule</li>
                <hr>
                <li class="m4"><i class="icon-user icon-large mr10"></i>Pages</li>
                <hr>
                <li class="m5"><i class="icon-user icon-large mr10"></i>Papers</li>
                <hr>
                <li class="m6"><i class="icon-user icon-large mr10"></i>Administration</li>
                <hr>
                <li class="m7"><i class="icon-user icon-large mr10"></i>Plans</li>
                <hr>
                <li class="m8"><i class="icon-user icon-large mr10"></i>Credits</li>
                <hr>
                <li class="m9"><i class="icon-user icon-large mr10"></i>Infos</li>
                <hr>
            </ul>
            <div id="dash-content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <footer>
        </footer>
    </body>
</html>